.learnnews {
  margin: 5rem 0;
  width: 100%;
  padding: 0 10%; // Added padding to the left and right
  h1 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 700;
  }
}

.newsContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 4rem;
  border-radius: 1rem; // Added border-radius for rounded corners
  background-color: #fff3f3; // Added background color
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); // Added box-shadow for 3D effect
  transition: transform 0.3s ease-in-out; // Added transition for hover effect

  &:hover {
    transform: translateY(-5px); // Slightly moves up on hover
  }

  img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Added shadow to the image
  }

  .newsT {
    font-weight: 700;
    font-size: 1.1rem;
    color: #050000;
    text-align: left;
    margin-bottom: 1rem;
  }

  .newsD {
    font-weight: 500;
    font-size: 0.9rem;
    color: #050000;
    text-align: left;
    word-wrap: break-word; // Ensures long words break to the next line
    overflow-wrap: break-word; // Ensures the text stays within the container
    white-space: pre-wrap; // Preserves whitespace and wraps text
    margin-bottom: 1rem; // Added margin bottom for spacing
  }

  .readMore {
    align-self: flex-start;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #79e97b;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #3eca68;
    }
  }
}

// .extension {
//   height: 6rem;
// }
