.learnblogs{
    padding: 1% 0;
.blogContainer{
  display: flex;
  flex-direction: column;
  .blog{
    margin-bottom: 1%;
    padding: 8% 4%;
    color: black;
    background-color: #fae8e8;
    font-size: 1.2rem;
  }
}
.extension{
         height: 6rem;
}
}