/* Base button styles */
.sosButton {
  width: 110px;
  height: 110px;
  background: radial-gradient(circle, #fb0019 0%, #ff0a22e5 40%, #ff6a71e7 100%);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  box-shadow: 4px 6px 7px rgba(0, 0, 0, 0.438);
  font-size: 1.4rem;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: float 2s infinite ease-in-out;
  z-index: 2000;
  font-weight: 600;
  border-width: 1rem;
  border-color: white;

  &:hover {
    background: radial-gradient(circle, #af0112 0%, #cb0418 40%, #f83d46d5 100%);
  }

  &:disabled {
    background-color: #ff7b82;
    cursor: not-allowed;
    box-shadow: none;
  }
}

/* Floating animation */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.7rem);
  }
}

/* Mobile styles */
@media (max-width: 600px) {
  .sosButton {
    right: 37%;
    bottom: 75%;
    transform: translate(50%, 50%);
  }
}

/* Container for the button and error message */
.sosButtonContainer {
  position: relative;
}

/* Error message styling */
.error {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 70px;
  right: 0;
  width: 100%;
  text-align: center;
}
