.sosContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.sosButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f15d5d;
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #a93636;
  }

  .icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }
}
