.hero {
  background: fixed;
  background-image: url('../../../public/images/herobackground.webp');
  opacity: 80%;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 104vh; // Full viewport height
  flex-direction: column; // Arrange items vertically
  overflow: hidden;
  margin-top: -4rem;

  .welcomeMessage {
    font-size: 3.6rem; 
    font-weight: bold;
    color: white;
    margin-top: 12rem;
    position: relative;
    animation: fadeIn 2s ease-in-out;
    text-align: center;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.892); // Font shadow
    z-index: 1; // Ensure it's above the circle

    @media (max-width: 768px) {
      left: auto;
      right: auto;
    }

    @media (max-width: 420px) {
      font-size: 2.8rem; 
    }
  }

  .tagline {
    font-size: 2.4rem; 
    color: white;
    font-weight: 600;
    text-align: center;
    text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.852); // Font shadow
    z-index: 1;
    
    @media (max-width: 768px) {
      left: auto;
      right: auto;
      font-size: 2.2rem; 

      
    }

    @media (max-width: 420px) {
      font-size: 1.3rem; // Increased by 0.6rem
    }// Ensure it's above the circle
  }

  .emergency {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1; // Ensure it's above the circle

    .btn {
      font-size: 1.5rem;
      font-family: 'Poppins';
      color: white;
      width: 8rem;
      height: 8rem;
      background: #ff5757;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.384), inset 0px 4px 4px rgba(255, 255, 255, 0.37);
      border-radius: 50%;
      border-style: none;
      margin-top: 2rem;
      animation: emer 1s ease-in-out infinite alternate;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease; // Added transition for transform and box-shadow

      &:hover {
        transform: translateY(-10px);
        animation: 2s ease; // This line doesn't have an effect in hover, can be removed
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.209);
      }
    }
  }

  .glassCircle {
    position: absolute;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0; // Ensure it's behind the button
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



@media (max-width: 768px) {

  .hero{
    margin-top: 1rem;
  }
}