.deviceId{
    width: 10rem;
    border: none;
    outline: none;
    border-bottom: 0.1rem solid #fa8686;
    color: #c54545;
    font-weight: 600;
    background: transparent;
    margin-right: 0.5rem;
}
.connect{
    background: transparent;
    border: 0.1rem solid #ff5757;
    color: #c54545;
    font-weight: 600;
    border-radius: 0.4rem;
    transition: 0.25s;
}

.connected{
    color: #24aa02;
    border-color: #66F14E;
    transition: 0.25s;
}

.connect:hover{
    background: #f97e7e;
    color: white;
}

.connected:hover{
    background: #6db45b;
    color: white;
}

@media screen and (max-width: 768px){
.navbar{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 5rem;
    background: linear-gradient(to bottom, #66F14E, #187900);
    display: flex;
    padding-bottom: 1rem;
    z-index: 2000;

    .logo{
        display: none;
    }

    ul{
        display: flex;
        flex-direction: row;
        padding: 0px;
        list-style: none;
        width: 100%;
        margin: auto;
        padding-left: 0;
        font-size: 1.8rem;

        .vr{
            display: none;
        }

        li{
            margin: auto;
            a{
                color: rgb(220, 219, 219);
            }
        }

        .sel a svg{
            color: white;
            filter: drop-shadow(0px 0px 0.8rem white);
        }
    }
}
}

@media screen and (min-width: 768px){
    .navbar{
        position: fixed;
        top: 0px;
        width: 100%;
        height: 5rem;
        background: linear-gradient(to bottom, #ff6b6b, rgb(255, 189, 189));
        display: flex;
        padding: 0 2rem;
        z-index: 2000;
        box-sizing: border-box;
        box-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0, 0.2);

        .logo{
            width: 5rem;
            display: flex;
            align-items: center;

            img{
                width: 100%;
                margin: auto;
            }
        }

        ul{
            list-style: none;
            display: flex;
            font-weight: 500;
            margin: auto 1rem;
            margin-left: auto;
            font-weight: 600;

            li{
                margin: auto 1rem;
            }
            
            a{
                color: rgb(44, 44, 44);
                text-decoration: none;
                font-size: 1.2rem;
            }
        }
    }
}