.typingText {
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    text-align: center;
    margin-top: 8rem;

    @media (max-width: 768px) {
        left: auto;
        right: auto;
        font-size: 1.6rem;
      }
  
      @media (max-width: 420px) {
        font-size: 1.2rem; // Increased by 0.6rem
      }
  
    .cursor {
      display: inline-block;
      width: 2px;
      background-color: white;
      animation: blink 1s infinite;
    }
  
    @keyframes blink {
      0%, 50% {
        opacity: 1;
      }
      51%, 100% {
        opacity: 0;
      }
    }
  }
  